[Unit]
Description=Istio ZTunnel service
Documentation=http://istio.io/
StartLimitIntervalSec=0

[Service]
ExecStart=/usr/local/bin/istio-start.sh ztunnel
ExecStartPost=/usr/local/bin/istio-start.sh init
ExecStopPost=/usr/local/bin/istio-start.sh clean
Restart=always
RestartSec=10
KillMode=mixed
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
