[Unit]
Description=SPIRE Agent
Documentation=http://solo.io/

[Service]
User=istio-proxy
Group=istio-proxy
ExecStart=/usr/local/bin/spire-agent run -config /var/lib/spire/agent.conf
Restart=always
StartLimitInterval=0
RestartSec=10
KillMode=mixed
TimeoutStopSec=30s

[Install]
WantedBy=multi-user.target
